* {
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #dfebf8;
}

.topbar { background: #06295c; color: white; padding: 16px 40px; display: flex; justify-content: space-between; align-items: center; }


.card{
    background-color: #bbdefb; 
    padding: 30px;
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;

}

.grid{
    color: white;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 20px;
}

.container{
    width: 90%;
    margin: 10px auto;
    max-width: 900px;
}

.minicard{
    background-color: #1976d2; 
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: grid;
    height: 55px;
}

button{
    background-color: #06295c; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    width: 150px;   
    font-size: 18px;

}



#message{
    font-weight: bold;
    color: #06295c;
}
.logo img{
    width: 200px;
    height: 80px;
    margin-left: 0px;
    margin-top: -10px;
}   
.logo{
    background-color: #04275b; 
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    height: 70px;
    padding-bottom: 40px;
    margin: 5px;

}
.q1{
    background-color: #dfebf8; 
    padding: 30px;
    margin: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
    margin-left: -180px;
    margin-top: 0px;
}
.q2{
    background-color: #dfebf8; 
    padding: 30px;
    margin: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
    margin-left: -180px;
    margin-top: -20px;
}
.q21{
    background-color: #4c8cec; 
    padding: 2px;
    text-align: left;
    font-size: 15px;
    margin-top: -50px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 120%;
}
.q22{
    background-color: #4c8cec; 
    padding: 2px;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 10px;
    width: 120%;
}
.q23{
    background-color: #4c8cec; 
    padding: 2px;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 10px;
    width: 120%;
}
.form-box{
    background-color: #f5f5f5; 
    padding: 30px;
    margin: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 40px;
    width: 500px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: -20px;
    height: 300px;
    display: grid; 
    grid-template-columns: repeat(1,1fr);
    gap: 0px;

}
.page-title{
    text-align: left;
    padding: 30px;
    color: #04275b;
}
.name{
    margin-top: 20px;
}
.email{
    margin-top: 20px;
}
.service{
    margin-top: 20px;
}
.message{
    margin-top: 20px;
}
nav a{
    color:white;
    text-decoration:none;
    margin-left:16px;
    font-size:14px;
}







